.upload-card {
  max-width: 500px;
  margin: 20px;
  padding: 10px;
}

.file-input-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.status-message {
  margin-top: 15px;
  font-weight: 500;
  color: #444;
}

mat-progress-bar {
  margin: 10px 0;
}

.success-msg {
  color: #2e7d32; /* Material Green */
  background-color: #e8f5e9;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}