# .gitignore
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
.DS_Store
.idea/
.vscode/
key.json

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
*.terraform.tfstate
auth.json

# Ignore IDE and OS files
node_modules/